<body>
  <header>
    <div
      class="ui borderless inverted menu"
      style="width:90vw; margin: 0 auto;"
    >
      <div class="ui inverted menu">
        <h4 class="item">ФКМД</h4>
      </div>
      <div class="right menu">
        <a class="right aligned item" id="addSourceBtn"
          ><i class="plus icon"></i
        ></a>
        <a class="right aligned item" id="adminBtn"
          ><i class="user icon"></i
        ></a>
      </div>
    </div>
  </header>

  <main id="app" class="ui container" style="width: 90vw;">
    <table class="ui celled striped center table" style="text-align:center;">
      <thead>
        <tr>
          <th>Аудитория</th>
          <th>Источник звука</th>
          <th>Запись</th>
          <th>Статус</th>
          <th>Время записи</th>
          <th>Календарь</th>
          <th>Диск</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="camera in cameras">
          <td>[[ camera.building ]]-[[camera.auditorium]]</td>
          <td>
            <div class="ui buttons">
              <button
                class="ui button"
                :class="{active: camera.soundType==='enc', disabled: camera.status === 'busy'}"
                @click.prevent="soundCheck(camera, 'enc')"
              >
                Кодер
              </button>
              <button
                class="ui button"
                :class="{active: camera.soundType === 'cam', disabled: camera.status === 'busy'}"
                @click.prevent="soundCheck(camera, 'cam')"
              >
                Камера
              </button>
            </div>
          </td>
          <td>
            <div class="ui buttons">
              <button
                class="ui button green"
                :class="{disabled: camera.status === 'busy'}"
                @click.prevent="startCamera(camera)"
              >
                Старт
              </button>
              <button
                class="ui button red"
                :class="{disabled: camera.status === 'free'}"
                @click.prevent="stopCamera(camera)"
              >
                Стоп
              </button>
            </div>
          </td>
          <td :class="[camera.status==='free' ? 'positive' : 'negative']">
            <div class="status" v-if="camera.status==='free'">Готов</div>
            <div class="status busy" v-if="camera.status==='busy'">Занят</div>
          </td>
          <td>
            <div v-if="camera.status==='busy'">
              [[getTsSting(camera.timestamp)]]
            </div>
          </td>
          <td>
            <a
              target="_blank"
              class="ui icon button"
              href="https://calendar.google.com/calendar/r"
            >
              <i class="calendar alternate outline icon"></i>
            </a>
          </td>
          <td>
            <a
              v-bind:href="camera.drive"
              target="_blank"
              class="ui icon button"
            >
              <i class="google drive icon"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </main>

  <script>
    $("#adminBtn").click(() => {
      $.ajax("/requestsFcmd").done(data => {
        $("body").html(data);
      });
    });

    $("#addSourceBtn").click(() => {
      $.ajax("/add-button").done(data => {
        $("body").html(data);
      });
    });

    new Vue({
      el: "#app",
      data: () => ({
        cameras: []
      }),
      delimiters: ["[[", "]]"],
      computed: {
        getCamName(camera) {
          return camera.building + "-" + camera.auditorium;
        }
      },
      methods: {
        getTsSting(ts) {
          let h = Math.floor(ts / 60 / 60);
          ts -= h * 60 * 60;
          let m = Math.floor(ts / 60);
          ts -= m * 60;
          return `${h} ч. ${m} м. ${ts} с.`;
        },
        soundCheck(camera, soundSource) {
          axios
            .post(
              "/cameras/" +
                camera.id +
                "/" +
                camera.building +
                "/" +
                soundSource +
                "/soundCheck"
            )
            .then(res => {
              camera.soundType = soundSource;
            });
        },
        startCamera(camera) {
          axios
            .post("/cameras/" + camera.id + "/" + camera.building + "/start", {
              soundType: camera.soundType
            })
            .then(res => {
              camera.status = "busy";
            });
        },
        stopCamera(camera) {
          axios
            .post("/cameras/" + camera.id + "/" + camera.building + "/stop")
            .then(res => {
              camera.status = "free";
            });
        }
      },
      created() {
        axios.get("/status").then(res => {
          res.data["ФКМД"].forEach(camera => {
            this.cameras.push(
              Object.assign(
                {
                  id: 0,
                  building: "",
                  auditorium: "",
                  status: "",
                  timestamp: 0,
                  soundType: ""
                },
                camera
              )
            );
          });
        });
        let updateStatus = () => {
          axios.get("/status").then(res => {
            res.data["ФКМД"].forEach(cam => {
              this.cameras.forEach(camera => {
                if (camera.id === cam.id) {
                  camera.status = cam.status;
                  camera.timestamp = cam.timestamp;
                  camera.soundType = cam.soundType;
                }
              });
            });
          });
        };
        updateStatus();
        setInterval(() => {
          updateStatus();
        }, 1000);
      }
    });
  </script>
</body>
