<body>
  <header>
    <div
      class="ui borderless inverted menu"
      style="width:90vw; margin: 0 auto;"
    >
      <div class="ui inverted menu">
        <h4 class="item">ФКМД</h4>
      </div>
      <div class="right menu">
        <div class="ui buttons">
          <button class="ui icon black button" id="adminBtn">
            <i class="user icon"></i>
          </button>
        </div>
      </div>
    </div>
  </header>

  <main id="app" class="ui container" style="width: 90vw;">
    <table class="ui celled striped center table" style="text-align:center;">
      <thead>
        <tr>
          <th>Аудитория</th>
          <th>Источник звука</th>
          <th>Запись</th>
          <th>Статус</th>
          <th>Время записи</th>
          <th>Календарь</th>
          <th>Диск</th>
          <!-- <th>Изменить</th>
          <th>Удалить</th> -->
        </tr>
      </thead>
      <tbody>
        <tr v-for="camera in cameras">
          <td>[[ camera.building ]]-[[camera.auditorium]]</td>
          <td>
            <div class="ui buttons">
              <button
                class="ui button"
                :class="{active: camera.soundType==='enc', disabled: camera.status === 'busy'}"
                @click.prevent="soundCheck(camera, 'enc')"
              >
                Кодер
              </button>
              <button
                class="ui button"
                :class="{active: camera.soundType === 'cam', disabled: camera.status === 'busy'}"
                @click.prevent="soundCheck(camera, 'cam')"
              >
                Камера
              </button>
            </div>
          </td>
          <td>
            <div class="ui buttons">
              <button
                class="ui button green"
                :class="{disabled: camera.status === 'busy'}"
                @click.prevent="startCamera(camera)"
              >
                Старт
              </button>
              <button
                class="ui button red"
                :class="{disabled: camera.status === 'free'}"
                @click.prevent="stopCamera(camera)"
              >
                Стоп
              </button>
            </div>
          </td>
          <td :class="[camera.status==='free' ? 'positive' : 'negative']">
            <div class="status" v-if="camera.status==='free'">Готов</div>
            <div class="status busy" v-if="camera.status==='busy'">Занят</div>
          </td>
          <td>
            <div v-if="camera.status==='busy'">
              [[getTsSting(camera.timestamp)]]
            </div>
          </td>
          <td>
            <a
              target="_blank"
              class="ui icon button"
              href="https://calendar.google.com/calendar/r"
            >
              <i class="calendar alternate outline icon"></i>
            </a>
          </td>
          <td>
            <a
              v-bind:href="camera.drive"
              target="_blank"
              class="ui icon button"
            >
              <i class="google drive icon"></i>
            </a>
          </td>
          <!-- <td>
            <button class="ui icon button" @click.prevent="edit(camera)">
              <i class="edit icon"></i>
            </button>
          </td>
          <td>
            <button class="ui icon button" @click.prevent="del(camera)">
              <i class="window close icon"></i>
            </button>
          </td> -->
        </tr>
      </tbody>
    </table>

    <!-- <button
      class="ui fluid basic button"
      @click.prevent="clear()"
      v-if="!addForm"
    >
      <i class="plus square large icon"></i>
    </button> -->

    <div v-if="addForm" class="addCam">
      <label for="name">Название</label>
      <input type="text" name="name" v-model="newSource.name" />

      <label for="name">IP</label>
      <input type="text" name="ip" v-model="newSource.ip" />

      <label>Тип источника</label>
      <select
        class="ui fluid dropdown"
        name="soundType"
        v-model="newSource.soundType"
      >
        <option value="enc">Кодер</option>
        <option value="cam">Камера</option>
        <option value="maincam">Главная камера</option>
      </select>

      <label>Аудитория</label>
      <input
        type="text"
        name="auditorium"
        placeholder="Название комнаты"
        v-model="newSource.auditorium"
      />

      <label>Корпус</label>
      <select
        class="ui fluid dropdown"
        name="building"
        v-model="newSource.building"
      >
        <option value="МИЭМ">МИЭМ</option>
        <option value="ФКМД">ФКМД</option>
        <option value="ФКН">ФКН</option>
      </select>

      <input type="checkbox" name="tracking" v-model="newSource.tracking" />
      <label>Трекинг</label>

      <input type="checkbox" name="sound" v-model="newSource.sound" />
      <label>Звук</label>

      <button class="ui button" @click.prevent="save(newSource)">
        Сохранить
      </button>
      <button class="ui button" @click.prevent="clear()">
        Отмена
      </button>
      <div class="ui negative message" v-if="!correctData">
        Поля ввода должны быть заполнены
      </div>
    </div>
  </main>

  <script>
    $("#adminBtn").click(() => {
      $.ajax("/requestsFcmd").done(data => {
        $("body").html(data);
      });
    });

    new Vue({
      el: "#app",
      data: () => ({
        cameras: [],
        addForm: false,
        newSource: {},
        correctData: true
      }),
      delimiters: ["[[", "]]"],
      computed: {
        getCamName(camera) {
          return camera.building + "-" + camera.auditorium;
        }
      },
      methods: {
        getTsSting(ts) {
          let h = Math.floor(ts / 60 / 60);
          ts -= h * 60 * 60;
          let m = Math.floor(ts / 60);
          ts -= m * 60;
          return `${h} ч. ${m} м. ${ts} с.`;
        },
        del(camera) {
          let i = this.cameras.indexOf(camera);
          this.cameras.splice(i, 1);
          axios.post("delete-camera/" + camera.id + "/" + camera.building);
        },
        clear(camera) {
          this.addForm = !this.addForm;
          this.newSource = {};
        },
        edit(camera) {},
        save(newSource) {},
        soundCheck(camera, soundSource) {
          axios
            .post(
              "/cameras/" +
                camera.id +
                "/" +
                camera.building +
                "/" +
                soundSource +
                "/soundCheck"
            )
            .then(res => {
              camera.soundType = soundSource;
            });
        },
        startCamera(camera) {
          axios
            .post("/cameras/" + camera.id + "/" + camera.building + "/start", {
              soundType: camera.soundType
            })
            .then(res => {
              camera.status = "busy";
            });
        },
        stopCamera(camera) {
          axios
            .post("/cameras/" + camera.id + "/" + camera.building + "/stop")
            .then(res => {
              camera.status = "free";
            });
        }
      },
      created() {
        axios.get("/status").then(res => {
          res.data["ФКМД"].forEach(camera => {
            this.cameras.push(
              Object.assign(
                {
                  id: 0,
                  building: "",
                  auditorium: "",
                  status: "",
                  timestamp: 0,
                  soundType: ""
                },
                camera
              )
            );
          });
        });
        let updateStatus = () => {
          axios.get("/status").then(res => {
            res.data["ФКМД"].forEach(cam => {
              this.cameras.forEach(camera => {
                if (camera.id === cam.id) {
                  camera.status = cam.status;
                  camera.timestamp = cam.timestamp;
                  camera.soundType = cam.soundType;
                }
              });
            });
          });
        };
        updateStatus();
        setInterval(() => {
          updateStatus();
        }, 1000);
      }
    });
  </script>
</body>
